
</main>

<script src="assets/js/script.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/datatables.net/js/jquery.datatables.js"></script>
<script type="text/javascript" src="bower_components/datatables.net-bs/js/datatables.bootstrap.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/jquery-ui.min.js"></script>
<script>
    $(document).ready( function () {
    $('#ofw-table').DataTable();
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
    $('.collapsible').collapsible();
    $('.modal').modal();
    //$('.datepicker').datepicker();
    $('select').formSelect();
    $('.fixed-action-btn').floatingActionButton();
    $('input#input_text, textarea#textarea2').characterCounter();
});
</script>
</body>
</html>