<% include ../partials/header %>


<div class="container"><!-- container -->
    <br><br>

    <div class="row"> <!-- main row -->
        <form class="col s12" method="POST" action="admin/country/add">
          <div class="col s4"></div>
            <div class="col s4">

                    <div class="row">
                            <% if(errors) { %>
                              <ul>
                                      <% errors.forEach((e) => { %>
                                      <div class="alert alert-danger">
                                          <strong><b>Warning!</b></strong> <%= e.msg %>
                                      </div>
                                      <% }) %>
                              </ul>
                          <% } %>
                    </div>

                    <h5>Country Registration</h5>

                <div class="row">
                  <div class="input-field col s12">
                     <% if(errors) { %>
                        <input id="name" type="text" class="validate" name="name" value="<%= name %>">
                     <% } else { %>
                        <input id="name" type="text" class="validate" name="name">
                     <% } %>
                      <label for="name">Country Name</label>
                  </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                    <p>
                        <label>
                            <%  if(errors) { %>
                                <%  if(status == 'active') { %>
                                    <input name="status" value="active" type="radio" checked/>
                                <%  } else { %>
                                    <input name="status" value="active" type="radio"/>
                                <%  } %>
                            <%  } else { %>
                                <input name="status" value="active" type="radio" checked/>
                            <%  } %>  
                              <span>Active</span>
                        </label>

                        <label>
                         <%   if(errors) { %>
                              <%  if(status == 'inactive') { %>
                                    <input name="status" value="inactive" type="radio" checked/>
                              <%  } else { %>
                                    <input name="status" value="inactive" type="radio" />
                              <%  }  %>
                            <% } else { %>
                                <input name="status" value="inactive" type="radio" />
                           <% } %>
                              
                              <span>Inactive</span>
                        </label>
                    </p>
                    </div>
                </div>

                <div class="row">
                  <div class="input-field col s4 offset-s6 right">
                      <div class="wrapper right-align">                               
                          <button type="submit" class="waves-effect btn"><i class="material-icons right">save</i>Register</button>
                        </form>   
                      </div>
                  </div>
                </div>

            </div>
          <div class="col s4"></div>
        </form>
    </div><!-- main row -->
</div><!-- container -->

<% include ../partials/footer %>